In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = {'temperature':['hot','cold','very hot','warm','hot','warm','warm','hot','hot','cold'],
     'color':['red','yellow','blue','blue','red','yellow','red','yellow','yellow','yellow'],
      'target':[1,1,1,0,1,0,1,0,1,1]}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

  temperature   color  target
0         hot     red       1
1        cold  yellow       1
2    very hot    blue       1
3        warm    blue       0
4         hot     red       1
5        warm  yellow       0
6        warm     red       1
7         hot  yellow       0
8         hot  yellow       1
9        cold  yellow       1

In [5]:
pd.get_dummies(df,prefix='temp',columns=['temperature'])

    color  target  temp_cold  temp_hot  temp_very hot  temp_warm
0     red       1          0         1              0          0
1  yellow       1          1         0              0          0
2    blue       1          0         0              1          0
3    blue       0          0         0              0          1
4     red       1          0         1              0          0
5  yellow       0          0         0              0          1
6     red       1          0         0              0          1
7  yellow       0          0         1              0          0
8  yellow       1          0         1              0          0
9  yellow       1          1         0              0          0

In [6]:
from sklearn.preprocessing import OneHotEncoder

In [7]:
one_hot = OneHotEncoder()

In [17]:
df['temperature'].values.reshape(-1,1)

array([['hot'],
       ['cold'],
       ['very hot'],
       ['warm'],
       ['hot'],
       ['warm'],
       ['warm'],
       ['hot'],
       ['hot'],
       ['cold']], dtype=object)

In [21]:
ohe = one_hot.fit_transform(df['temperature'].values.reshape(-1,1)).toarray()
ohe

array([[0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.]])

In [29]:
temp_df = pd.DataFrame(ohe,columns=['temp_'+c for c in one_hot.categories_[0]])

In [37]:
dfh = pd.concat([df,temp_df],axis=1)

In [39]:
dfh.drop(columns=['temperature'],inplace=True)

In [40]:
dfh

    color  target  temp_cold  temp_hot  temp_very hot  temp_warm
0     red       1        0.0       1.0            0.0        0.0
1  yellow       1        1.0       0.0            0.0        0.0
2    blue       1        0.0       0.0            1.0        0.0
3    blue       0        0.0       0.0            0.0        1.0
4     red       1        0.0       1.0            0.0        0.0
5  yellow       0        0.0       0.0            0.0        1.0
6     red       1        0.0       0.0            0.0        1.0
7  yellow       0        0.0       1.0            0.0        0.0
8  yellow       1        0.0       1.0            0.0        0.0
9  yellow       1        1.0       0.0            0.0        0.0

In [41]:
from sklearn.preprocessing import LabelEncoder

In [43]:
lb_encoder = LabelEncoder()
lb_encoder.fit_transform(df.temperature)

array([1, 0, 2, 3, 1, 3, 3, 1, 1, 0])

In [48]:
df['temp_label_encoded'] = lb_encoder.transform(df.temperature)

In [49]:
df

  temperature   color  target  temp_label_encoded
0         hot     red       1                   1
1        cold  yellow       1                   0
2    very hot    blue       1                   2
3        warm    blue       0                   3
4         hot     red       1                   1
5        warm  yellow       0                   3
6        warm     red       1                   3
7         hot  yellow       0                   1
8         hot  yellow       1                   1
9        cold  yellow       1                   0

In [60]:
pd.factorize(df.temperature)

(array([0, 1, 2, 3, 0, 3, 3, 0, 0, 1]),
 Index(['hot', 'cold', 'very hot', 'warm'], dtype='object'))

In [61]:
temp_dict = {'cold':1, 'warm':2, 'hot':3, 'very hot':4}

In [63]:
df['temp_ordinal'] = df.temperature.map(temp_dict)

In [64]:
df

  temperature   color  target  temp_label_encoded  temp_ordinal
0         hot     red       1                   1             3
1        cold  yellow       1                   0             1
2    very hot    blue       1                   2             4
3        warm    blue       0                   3             2
4         hot     red       1                   1             3
5        warm  yellow       0                   3             2
6        warm     red       1                   3             2
7         hot  yellow       0                   1             3
8         hot  yellow       1                   1             3
9        cold  yellow       1                   0             1

In [66]:
import category_encoders as ce

In [78]:
encoder = ce.HelmertEncoder(cols=['temperature'],drop_invariant=True)

In [79]:
encoder

HelmertEncoder(cols=['temperature'], drop_invariant=True,
               handle_missing='value', handle_unknown='value', mapping=None,
               return_df=True, verbose=0)

In [80]:
encoder.fit_transform(df['temperature'])

   temperature_0  temperature_1  temperature_2
0           -1.0           -1.0           -1.0
1            1.0           -1.0           -1.0
2            0.0            2.0           -1.0
3            0.0            0.0            3.0
4           -1.0           -1.0           -1.0
5            0.0            0.0            3.0
6            0.0            0.0            3.0
7           -1.0           -1.0           -1.0
8           -1.0           -1.0           -1.0
9            1.0           -1.0           -1.0

In [81]:
pd.concat([df.iloc[:,:3],encoder.fit_transform(df['temperature'])],axis=1)

,temperature,color,target,intercept,temperature_0,temperature_1,temperature_2
0,hot,red,1,1,-1.0,-1.0,-1.0
1,cold,yellow,1,1,1.0,-1.0,-1.0
2,very hot,blue,1,1,0.0,2.0,-1.0
3,warm,blue,0,1,0.0,0.0,3.0
4,hot,red,1,1,-1.0,-1.0,-1.0
5,warm,yellow,0,1,0.0,0.0,3.0
6,warm,red,1,1,0.0,0.0,3.0
7,hot,yellow,0,1,-1.0,-1.0,-1.0
8,hot,yellow,1,1,-1.0,-1.0,-1.0
9,cold,yellow,1,1,1.0,-1.0,-1.0

In [83]:
target_enc = ce.TargetEncoder()

In [85]:
pd.concat([df,target_enc.fit_transform(df['temperature'],df['target'])],axis=1)

   temperature   color  target  temp_label_encoded  temp_ordinal  temperature
0          hot     red       1                   1             3     0.747629
1         cold  yellow       1                   0             1     0.919318
2     very hot    blue       1                   2             4     0.700000
3         warm    blue       0                   3             2     0.377041
4          hot     red       1                   1             3     0.747629
5         warm  yellow       0                   3             2     0.377041
6         warm     red       1                   3             2     0.377041
7          hot  yellow       0                   1             3     0.747629
8          hot  yellow       1                   1             3     0.747629
9         cold  yellow       1                   0             1     0.919318

In [86]:
df

  temperature   color  target  temp_label_encoded  temp_ordinal
0         hot     red       1                   1             3
1        cold  yellow       1                   0             1
2    very hot    blue       1                   2             4
3        warm    blue       0                   3             2
4         hot     red       1                   1             3
5        warm  yellow       0                   3             2
6        warm     red       1                   3             2
7         hot  yellow       0                   1             3
8         hot  yellow       1                   1             3
9        cold  yellow       1                   0             1

In [107]:
df[['temperature','target']].groupby(by='temperature').sum()

             target
temperature
cold              2
hot               3
very hot          1
warm              1

In [108]:
df['target'].sum()

7

In [337]:
temp_df = df[['temperature','target']].groupby(by='temperature').mean()#agg(['sum','count']).apply(lambda x: x[0]/x[1], axis=1)

In [338]:
temp_df

               target
temperature
cold         1.000000
hot          0.750000
very hot     1.000000
warm         0.333333

In [339]:
df.merge(temp_df,how='left',on='temperature')

  temperature   color  target_x  temp_label_encoded  temp_ordinal  target_y
0         hot     red         1                   1             3  0.750000
1        cold  yellow         1                   0             1  1.000000
2    very hot    blue         1                   2             4  1.000000
3        warm    blue         0                   3             2  0.333333
4         hot     red         1                   1             3  0.750000
5        warm  yellow         0                   3             2  0.333333
6        warm     red         1                   3             2  0.333333
7         hot  yellow         0                   1             3  0.750000
8         hot  yellow         1                   1             3  0.750000
9        cold  yellow         1                   0             1  1.000000

In [340]:
df.select_dtypes(exclude=np.number)

  temperature   color
0         hot     red
1        cold  yellow
2    very hot    blue
3        warm    blue
4         hot     red
5        warm  yellow
6        warm     red
7         hot  yellow
8         hot  yellow
9        cold  yellow

In [341]:
df.select_dtypes(include=object)

  temperature   color
0         hot     red
1        cold  yellow
2    very hot    blue
3        warm    blue
4         hot     red
5        warm  yellow
6        warm     red
7         hot  yellow
8         hot  yellow
9        cold  yellow